# Houseprice Prediction

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas import read_csv
import sklearn

In [3]:
newdata= pd.read_csv("housing.csv")
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)
data.head()
df=pd.DataFrame(data)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [3]:
# from pandas_profiling import ProfileReport
# prof=ProfileReport(df)
# prof.to_file(output_file="output_houses.html")

## Train Test Spliting

In [4]:
from sklearn.model_selection import train_test_split
train_set,test_set=train_test_split(data , test_size=0.2 , random_state=42)

# Stratified Sampling

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index,test_index in split.split(df,df['CHAS']):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]

In [6]:
strat_train_set['CHAS'].value_counts()

0    376
1     28
Name: CHAS, dtype: int64

In [7]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

# Standard Scalar--Standardization--Zscore Normalization

In [8]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
scalar.fit(strat_train_set)
scaled_Train = scalar.transform(strat_train_set)
scaled_Test=scalar.transform(strat_test_set)

In [9]:
scaled_Train = pd.DataFrame(scaled_Train,columns=strat_train_set.columns)
Scaled_Test = pd.DataFrame(scaled_Test,columns = strat_test_set.columns)

In [10]:
scaled_Train.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02
mean,4.493106e-17,-1.231138e-16,1.178925e-16,1.319077e-16,-6.519812e-17,5.661038e-17,-7.158740e-17,1.610373e-16,8.216750e-17,-1.198161e-16,-7.123015e-16,-5.089438e-16,-1.943921e-16,2.684528e-16
std,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00
min,-4.445960e-01,-4.898311e-01,-1.543818e+00,-2.728884e-01,-1.448328e+00,-3.818154e+00,-2.343452e+00,-1.248110e+00,-1.001686e+00,-1.337627e+00,-2.573710e+00,-3.679748e+00,-1.530642e+00,-1.867887e+00
25%,-4.346270e-01,-4.898311e-01,-8.960085e-01,-2.728884e-01,-9.000550e-01,-5.633454e-01,-8.570894e-01,-8.157735e-01,-6.576668e-01,-7.618351e-01,-5.046855e-01,2.212050e-01,-8.225115e-01,-6.304100e-01
50%,-4.099313e-01,-4.898311e-01,-2.103490e-01,-2.728884e-01,-1.718802e-01,-9.817215e-02,3.245603e-01,-2.976495e-01,-5.429938e-01,-4.472273e-01,2.476870e-01,3.914755e-01,-1.690392e-01,-1.450202e-01
75%,1.596030e-02,7.518650e-02,9.833681e-01,-2.728884e-01,6.248287e-01,4.919835e-01,8.879256e-01,6.459421e-01,1.635794e+00,1.505715e+00,8.119664e-01,4.401987e-01,5.965162e-01,2.656943e-01
max,8.644855e+00,4.030310e+00,2.386714e+00,3.664502e+00,2.680852e+00,3.510870e+00,1.096973e+00,3.997357e+00,1.635794e+00,1.772835e+00,1.658385e+00,4.534347e-01,3.347050e+00,2.932671e+00

In [12]:
X_newTrain=scaled_Train.drop("MEDV", axis='columns')
Y_newTrain=scaled_Train['MEDV']
X_newTest=Scaled_Test.drop("MEDV", axis='columns')
Y_newTest=Scaled_Test['MEDV']

In [15]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(X_newTrain, Y_newTrain)
print(regr.score(X_newTest, Y_newTest))

0.7572684891063761

In [19]:
print(Scaled_Test.head())

       CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
0 -0.442289 -0.489831 -1.376407 -0.272888 -0.343215  0.365246 -0.330928
1  1.763291 -0.489831  0.983368 -0.272888  0.967499 -0.079916  1.096973
2 -0.369389 -0.489831 -0.748977 -0.272888 -0.437450  0.474781  0.416683
3 -0.431254 -0.489831  0.370496  3.664502 -0.069079  0.130728  0.827692
4 -0.413994 -0.489831 -0.645619 -0.272888 -0.942889 -1.237057  0.930444

        DIS       RAD       TAX   PTRATIO         B     LSTAT      MEDV
0  1.202357 -1.001686  0.057332 -1.210035  0.381106 -0.573092 -0.641078
1 -1.125761  1.635794  1.505715  0.811966  0.420501  1.243762 -1.313156
2 -0.226148 -0.198975 -0.625307 -0.504686  0.453435 -0.718385  0.809758
3 -0.182646 -0.542994 -0.809323 -0.974918  0.420501 -0.317100  0.052336
4  1.013037 -0.772340 -1.064571 -0.269569  0.453435  2.493281 -0.865104

In [23]:
regr.predict(X_newTest.head())

array([ 0.01997362, -0.56362859,  0.80154733,  0.87671787, -1.45706185])

In [22]:
print(Y_newTest)

0     -0.641078
1     -1.313156
2      0.809758
3      0.052336
4     -0.865104
         ...
97     0.116344
98    -0.374380
99     0.265694
100   -0.235697
101   -0.107683
Name: MEDV, Length: 102, dtype: float64